.p{
    margin-top: 0;
    margin-bottom: 0;
}
body{

    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 81px;
    padding-left:96px;
    padding-right: 24px;
    padding-bottom: 20px;
    background-color: rgb(248, 248, 248);
}