.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 100;
}
.left-section{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    flex: 1;
    margin-left: 60px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    border: 1px solid rgb(213, 210, 210);;
    border-radius: 1px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100px;
    color: rgb(159, 156, 156);
}


.youtube-search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 198, 198);
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
}

.youtube-search-button,
.voice-search-button,
.upload-icon-container,
.youtube-app-icon-container,
.notifications-icon-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.tooltip{
    padding-top: 10px;
    
}

.youtube-search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-app-icon-container .tooltip,
.notifications-icon-container .tooltip{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: rgb(70, 69, 69);
    color: white;
    padding-top: 6px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    bottom: -50px;
    opacity: 0;
    border-radius: 2px;
    transition: opacity 0.25s;
    pointer-events: none;
    white-space: nowrap;
}

.youtube-search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
    opacity: 1;
}

.youtube-search-icon{
    height: 25px;   
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    position: relative;
}
.voice-search-icon{
    height: 24px;
 }

.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon{
    height: 24px;
}

.youtube-app-icon{
    height: 24px;
}

.notifications-icon{
    height: 24px;
    padding-top: 5px;
}
.notifications-icon-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    background-color: rgb(200, 1, 1);
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10.4px;
    top: 2px;
    right: -5px;
    border-radius: 9px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: rgba(199, 196, 196, 0.05);
}

.current-user-pic{
    height: 32px;
    border-radius: 16px;
}




