
.thumbnail{
    width: 100%
    }

.video-title{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
    margin-right: 3px;
    }
            

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    }
            
            
.profile-pic{
    width: 36px;
    border-radius: 40px;
    }
.thumbnail-row{
    margin-bottom: 8.3px;
    position: relative;
    }
.video-author,
.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-top: 2px;
    margin-bottom: 0px;
    }
.video-author{
    margin-bottom: 2px;
    }

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 870px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:871px) and (max-width:1124px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

@media (min-width:1125px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
    


.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10.5px;
    right: 4px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;    
}